<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ainesosat</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Ainesosat</h1>

        <ol>
            <li th:each="ainesosa: ${ainesosat}">
                <span th:text="${ainesosa.nimi}">ainesosan nimi</span>
                <a href="/poista/${ainesosa.id}>">[poista]</a> 
            </li>
        </ol>
        
        <form method="POST">
            Nimi:<br />
            <input type="text" name="nimi" /><br />
            <input type="submit" value="Lisää ainesosa" />
        </form>
    </body>
</html>