<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lisää drinkki</title>
        <meta charset="ISO-8859-1" />
    </head>
    <body>
        <h1><span>Lisää ainesosa</span></h1>


        <form method="post">
            <span>Ainesosa</span>
            <select name="userId">               
                <option th:each="ainesosa: ${ainesosat}" th:value="${ainesosa.id}" th:text="${ainesosa.nimi}">
                    ainesosa
                </option>
            </select><br />
            <span>Järjesyts</span>
            <input type="text" name="jarjestys" /><br />
            <span>Määrä (cl)</span>
            <input type="text" name="maara" /><br />
            <span>Ohje</span>
            <input type="text" name="ohje" /><br />
            <br />
            <input type="submit" value="Lisää ainesosa drinkkiin"/>
        </form>
        <a href="/uusidrinkki">Peruuta</a><br />
        <a href="/">Etusivulle</a>

    </body>
</html>
