<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Drinkki</title>
        <meta charset="ISO-8859-1" />
    </head>

    <body>
        <h1><span th:text="${drinkki.nimi}">drinkki</span></h1>
        Ainesosat
        <ol>
            <li th:each="drinkkiAinesosa: ${drinkkiAinesosat}">
                <span th:text="${drinkkiAinesosa.ainesosanNimi}">ainesosan nimi</span>
                <span th:text="${drinkkiAinesosa.maara}">ainesosan maara</span>
                <span>cl</span>
            </li>
        </ol>
        
        Ohjeet
        <ol>
            <li th:each="drinkkiAinesosa: ${drinkkiAinesosat}">
                <span th:text="${drinkkiAinesosa.ohje}">ainesosan ohje</span>
            </li>
        </ol>
        
        <a href="/drinkit">Takaisin drinkkeihin</a><br />
        <a href="/">Etusivulle</a>
    </body>
</html>
