<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Drinkit</title>
        <meta charset="ISO-8859-1" />
    </head>

    <body>
        <h1>Drinkit</h1>

        <ol>
            <li th:each="drinkki: ${drinkit}">
                <form th:action="@{~/poista_drinkki/{id}(id=${drinkki.id})}" th:object="${drinkki}" method="post">
                    <a th:href="${'/drinkit/' + drinkki.id}">
                        <span th:text="${drinkki.nimi}">drinkin nimi</span>
                    </a>
                    <input type="submit" value="Poista drinkki"/>
                </form>
            </li>
        </ol>

        <form action="/uusidrinkki">
            <input type="submit" value="Lisää uusi drinkki" />
        </form>
        <a href="/">Etusivulle</a>
    </body>
</html>