<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Uusi drinkki</title>
        <meta charset="ISO-8859-1" />
    </head>

    <body>
        <h1>Uusi drinkki</h1>
        
        <form action="/drinkkiainesosa">

            <input type="submit" value="Lisää ainesosa" />
        </form>
        <br />
        Ainesosat: <br />
        <ol>
            <li th:each="drinkkiAinesosa: ${ainesosat}">             
                <form th:action="@{~/poista_drinkkiainesosa/{ainesosanNimi}(ainesosanNimi=${drinkkiAinesosa.ainesosanNimi})}" th:object="${drinkkiAinesosa}" method="post">
                    <span th:text="${drinkkiAinesosa.ainesosanNimi}">ainesosan nimi</span>
                    <input type="submit" value="Poista"/>
                </form>
            </li>
        </ol>

        <br />
        <form method="POST">
            Drinkin nimi: 
            <input type="text" name="nimi" /><br />
            <br />
            <input type="submit" value="Lisää drinkki" /> <br />
        </form>
        <a href="/drinkit">Takaisin drinkkeihin</a><br />
        <a href="/">Etusivulle</a>
    </body>
</html>